<div id="center-setting">
  <h1 id="settings">SETTINGS</h1>
</div>

<div class="colors-choice">
  <%= "Pick your" %> <br> <%= "favorite color" %>
  <div class="colors">
    <%= simple_form_for :player, url: game_settings_path(@game), method: :patch do |f| %>
      <% Game::COLORS.each do |color| %>
        <label class="">
          <%= radio_button_tag "color", color, current_player.color == color %>
          <%= image_tag "ghost_#{color}.png",
          class: "ghost" %>
        </label>
      <% end %>
      <%= f.submit "Start" %>
    <% end %>

  </div>
</div>

<%# <p>add here a condition </p>
<p> if a player is ghost then </p>
<p> he can change the color of its ghost </p>
<p> if a player is pacman we cannot change its color. Pacman's color default: Yellow. </p> %>

<%# data-settings-target="icon" %>
