<div data-controller="token">
<h1>HI! WELCOME TO PACMAN-GO!</h1>
<h2>Ready to start an exiting game?</h2>

<%= simple_form_for @player do |f| %>
  <%= f.input :nickname, placeholder: "Your nickname" %>

  <label class="" data-role="host" data-action="change->token#select"><%= radio_button_tag "type", "host" %> Host</label>
  <label class="" data-role="guest" data-action="change->token#select"><%= radio_button_tag "type", "guest" %> Guest</label>

  <%= simple_fields_for :tokens do |z| %>
    <%= z.input :generated, input_html: { data: { token_target: 'generated' }  } %>
    <%= z.input :token, input_html: { data: { token_target: 'token' }  } %>
  <% end %>

  <%= f.submit %>
<% end %>


<p>Find me in app/views/pages/home.html.erb</p>

</div>
