<div id="game_title">
<%= image_tag "pacman-logo.png", :class => "class_name" %>
</div>

<div class="ghost_team">
  <%= image_tag "ghost_blue.png", :class => "ghost" %><%= image_tag "ghost_orange.png", :class => "ghost" %>
  <%= image_tag "ghost_pink.png", :class => "ghost" %><%= image_tag "ghost_red.png", :class => "ghost" %>
</div>

<p>THE BEST <br>OUTDOOR GAME <br>EVER CREATED</p>

<div id="bouton">
<%= link_to "PLAY", "home", class: "btn btn-ghost" %>
</div>
