
<div class="container">

  <div id="lobby-page-title">
    <p>Looby</p>
  </div>

  <%# Add here the token generator coded by Anne %>
  <div id="token">
    <p>Share the below token with your fellow friends:</p>
    <div id="generated-token"><%= @game.token %></div>
  </div>

  <%# Generating players list %>
  <div id="players-list">
    <% @game.participation.each_with_index do |participation, index| %>
      <div id="nickname-setting">
        <div id="settings-name">
          <div id="player-name">
            <p>Player<%= "_#{index + 1}:" %></p>
            <p><%= "#{participation.player.nickname}" %></p>
          </div>

          <%# Generating settings button for each player %>
          <div id="settings">
            <%= image_tag "settings.png", :class => "img-icon" %>
          </div>
        </div>

        <%# List the roles for each player %>
        <div id="roles">
        <div id="pacman-id">
            <%= image_tag "pacman.png", :class => "img-icon" %>
        </div>
        <div id="ghost-id">
            <%= image_tag "ghost_red.png", :class => "img-icon" %>
        </div>
        </div>

      </div>
    <% end %>
  </div>

  <%# Button to start the game, link to map/plaground screen %>
  <% if @game.player == current_player %>
    <div class="start-btn">
      <%= link_to "Start", :anchor => "#players-list" %>
    </div>
  <% end %>
  <%# *********************** %>
</div>
