
<div class="container">

  <div id="container-lobby">
    <div id="title-page-token">
      <div class="title-page">
        Looby
      </div>

      <%# Add here the token generator coded by Anne %>
      <div id="token">
        <p>Share the below token with your fellow friends:</p>
        <div id="generated-token"><%= @game.token %>
        </div>
      </div>
      <%# Generating players list %>
      <%# insert the partial here %>
      <%= render "players/players" %>


    <%# Button to start the game, link to map/plaground screen %>
    <% if @game.player == current_player %>
      <div class="start-btn">
        <%= simple_form_for :player, url: game_path(@game), method: :patch do |f| %>
          <%= f.input :pacman, as: :hidden %>
          <%= f.submit "Start" %>
        <%= image_tag "pacman.png", :class => "pacman" %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
