

<%# show the map %>
<div id="gamemap"
    style="width: 320px; height: 568px;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-current-user="<%= current_player.id%>">

    <div id="userplayer" data-game-id="<%= @game.id %>">
      <% @players.each do |player| %>
        <div class="player-container" data-player="<%=player.to_json%>" id="player-<%= player.id %>">
        </div>
      <% end %>
    </div>

</div>

<%# takes all the candy + point + small points and put it on the map%>

<%# takes pacman and put them on the map %>

<%# pop-up timer of x minutes for ghost%>
  <%# <% if current_player.role = ghosts%>
  <%# <p>PACMAN HAS A LITTLE TIME AHEAD</p> %>
  <%# <% end %>

<%# pop-up message for the winners and losers%>


<%# affiche lives if time left %>
    <%# <div id='lives'>
      <ul class='inline-list'>
      <% for i  @game.lives %>
    <%# </div> %>

<div class="hearts">
  <%= image_tag "heart.png", :class => "full_heart", :id => "heart_1" %><%= image_tag "heat-unactivated.png", :class => "half_heart", :id => "heart_2" %><%= image_tag "heat-unactivated.png", :class => "half_heart", :id => "heart_3" %>
</div>

<div>
  <div id="gamemap"
    <%# style="width: 325px; height: 737px;" %>
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div classe="score">
<p id="game_score"><%= "score: 0" %></p>
</div>

<% if @game.finished? %>
  <div id="global_container">


    <div id="popup">
      <div class="go">

        <% if @current_player_participation.is_winner? %>
          <h1>YOU WIN!</h1>
        <% else %>
          <h1>GAME OVER</h1>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
