


<%# show the map %>
<div id="gamemap"
    <%# style="width: 320px; height: 568px;" %>
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-current-user="<%= current_player.id%>"
    data-pacman-user="<%= @pacman.player_id %>"
    >
    <div id="userplayer" data-game-id="<%= @game.id %>">
      <% @players.each do |player| %>
        <div
          class="player-container"
          data-player="<%=player.to_json%>"
          id="player-<%= player.id %>"
          <% if(player.id != @pacman.player_id) %>
            data-image="<%= image_path("ghost_#{player.color}.png")%>"
          <%else%>
            data-image="<%= image_path("pacman.png")%>"
          <%end%>
        >
        </div>
      <% end %>
    </div>
  <div id="markeritem" data-game-id="<%= @game.id %>">
      <% @items.each do |item| %>
        <div
          class="item-container"
          data-item="<%=item.to_json%>"
          id="item-<%= item.id %>"
          data-image="<%= image_path("burger.png")%>"
        >
        </div>
      <%end%>
    </div>
</div>

<%# takes all the candy + point + small points and put it on the map%>

<%# takes pacman and put them on the map %>

<%# pop-up timer of x minutes for ghost%>
  <%# <% if current_player.role = ghosts%>
  <%# <p>PACMAN HAS A LITTLE TIME AHEAD</p> %>
  <%# <% end %>

<%# pop-up message for the winners and losers%>


<%# affiche lives if time left %>
    <%# <div id='lives'>
      <ul class='inline-list'>
      <% for i  @game.lives %>
    <%# </div> %>

<div class="hearts">
  <%= image_tag "heart.png", :class => "full_heart", :id => "heart_1" %><%= image_tag "heat-unactivated.png", :class => "half_heart", :id => "heart_2" %><%= image_tag "heat-unactivated.png", :class => "half_heart", :id => "heart_3" %>
</div>

<div classe="score">
<p id="game_score"><%= "Score: #{@game.score}"%></p>
</div>

<%# c est pour le channel gamestatus %>
<div id="gamestatus" data-game-status="<%= @game.finished %>" data-game-id=<%= @game.id %>>
  <% if @game.finished? %>
  <div id="global_container" class="info">
    <%# <div id="popup" > %>
      <div class="end_popup" >

        <% if @current_player_participation.is_winner? %>
          <h1>Congratulations! YOU WIN!</h1>
          <%= link_to "REPLAY", home_path, class: "btn btn-ghost" %>
        <% else %>
          <h1>GAME OVER</h1>
          <%= link_to "REPLAY", home_path, class: "btn btn-ghost" %>
        <% end %>
      </div>
    <%# </div> %>
  </div>
  <% end %>
</div>
