      <div id="players-list" data-participation-id="<%= receiver_participation.id %>">
        <% @game.participations.each_with_index do |participation, index| %>
          <div class="nickname-setting">
            <div id="settings-name">
              <div id="player-name">
                <p>Player<%= "_#{index + 1}:" %></p>
                <p><%= "#{participation.player.nickname}" %></p>
              </div>

              <%# Generating settings button for each player %>
              <div class="settings" data-controller="lobby" data-action="click->lobby#settings">
                <% img = image_tag "settings-on.png", :class => "img-icon" %>
                <% if participation == receiver_participation %>
                <%# The link root_path will be updated to game_settings(@game) to redirect the player to its settings %>
                  <%= link_to img, edit_game_settings_path(@game) %>
                  <% else %>
                  <%= image_tag "settings.png", class: "img-icon" %>
                <% end %>
              </div>
            </div>

              <%# List the roles for each player %>
            <div id="roles" data-roles <%= 'data-controller="lobby"'.html_safe if @game.player == receiver_participation.player %> >
              <div id="pacman-id" class="pacman-object <%= 'settings-hover' if index == 0 %>" data-role="pacman" data-id="<%= participation.player.id %>" data-action="click->lobby#select" data-lobby-target="pacmanIcon">
                  <%= image_tag "pacman.png", :class => "img-icon" %>
              </div>
              <div id="ghost-id" class="ghost-object <%= 'settings-hover' if index != 0 %>" data-role="ghost" data-action="click->lobby#select" data-lobby-target="ghostIcon">
                  <%= image_tag "ghost_red.png", :class => "img-icon" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
