<!DOCTYPE html>
<html>
  <head>
    <title>PACMANGo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application'%>
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/2.4.1/mapbox-gl.min.css" integrity="sha512-sS3k+Q8wR46a+5UNH7iNjdtUIFVlWo9YPBjI33eShxE+dOfebWQEH4z8PsYn1kXbtcnHBwEkpHshaWcMAyYqKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
